export(file_cleaner, bite_variation, bite_size_scaling)
importFrom("stats", "lm")
importFrom("graphics", "boxplot", "mtext")
importFrom("stats", "sd", "setNames")
importFrom("utils", "read.delim", "read.table")
importFrom("gdata", "read.xls")
importFrom("ggplot2", "ggplot", "geom_point", "geom_smooth", "aes", "labs", "theme_bw")
importFrom("plyr", "count")
importFrom("grid", "grid.newpage", "pushViewport", "grid.layout", "viewport")
importFrom("tools", "file_ext")